body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

header {
    background: #1e293b;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    padding: 20px;
}

.form-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #1d4ed8;
}

.tickets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.ticket {
    background: white;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #ccc;
}

.ticket.pendiente {
    border-color: orange;
}

.ticket.resuelto {
    border-color: green;
}

.filtros {
    margin-bottom: 15px;
}

.filtros button {
    margin-right: 15px;
    background: #64748b;
}

.filtros button:hover {
    background: #475569;
}

body.login-body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f172a;
    font-family: Arial;
}

.login-container {
    background: #1e293b;
    padding: 40px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    background: #2563eb;
    transform: scale(1.02);
}

#error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

